
<div class="container">
  <h2 style="text-align: center;">Mr Roboto</h2>

  <div>
    <br>
    <h3 style="color: orange; text-align: justify;">Bienvenido al chat de Mr. Roboto, es un chatbot generado con IA para mantener conversaciones de varios tipos, puedes usarlo para mantener conversaciones y obtener respuestas.</h3>
  </div>
<br><br>
  <div>
    <p style="font-size: larger;">
      Para experimentar un poco más con el chatbot, sigue este enlace => <a href="#" [routerLink]="['/demo']" routerLinkActive="router-link-active" >LIVE DEMO</a>
    </p>
  </div>
</div>
